<ul class="stations">
  <% @stations.each do |station| %>
    <li>
      <%= station.station_name %>
      <%= station.street_address %>
      <%= station.state %>
      <%= station.city %>
      <%= station.fuel_type_code %>
      <%= station.distance %>
      <%= station.access_days_time %>
    </li>
  <% end %>
</ul>
